/*

    >>> Position <<<

    [static] --> Defecto

    [absolute] --> position: absolute;
    Indica que en que coordenadas va estar del documento.
    Sin tener en cuenta los elementos HTML que lo contienen

    Aunque si posee la propiedad absolute
    se vuelve relativo con respecto al elemento que lo contiene
    en este caso el padre si no tiene seria
    todo el documento

    right: 100px;
    right: 0;
    right: 0;
    right: 50%; 

    [relative] --> position: relative;
    Se crea un punto relativo para cualquiera de los hijos lo tome como referencia. 

    Se le agrega al elemento HTML PADRE

    [fixed] --> position: fixed;
    Se va a quejar fijo con respecto al viewport o pantalla

    [sticky] --> position: sticky;
    No se va a quedar siempre fijo en pantalla, si no que va a tener en cuenta los relatives

    Significa que se va a quedar pegado en el contenedor en el que esta

*/

.parent {
  border: 5px solid #000;
  width: 400px;
  height: 1000px;
  box-sizing: border-box;
  position: relative;
}

/*
    Centrar un elemento, recomendado para modales

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    Abreviando y obteniendo
    inset: 0;
*/

.container {
  background: #09f;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  position: fixed;
  z-index: 10;
}

body {
  background: rgb(187, 204, 215);
  font-family: system-ui;
}
